__pycache__/
*.pyc
*.pyo
.env
sql_app.db
sql_app_ficticio_backup.db
backend/__pycache__/
backend/uploads/clientes/*
backend/uploads/productos/*
backend/uploads/ejercicios/*
backend/uploads/logos/*
!backend/uploads/clientes/.gitkeep
!backend/uploads/productos/.gitkeep
!backend/uploads/ejercicios/.gitkeep
!backend/uploads/logos/.gitkeep
_obsoletos/
.idea/
.vscode/
*.swp
*.swo
d
